.header {
	display: flex;
	.logo {
		color: #fff;
		font-weight: bold;
		font-size: 20px;
	}
	.center {
		flex: 1;
	}
	.right-menu {
		.ant-dropdown-link {
			display: block;
			color: #fff;
		}
	}
}
